<nav>
  <div class="nav-wrapper">
    <div class="container">  
      <%= link_to 'ANIMALS', root_path %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Item</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Item</a></li>
      </ul>
    </div>
  </div>
</nav>